.app {
  display: inline-flex;
}

body {
  background-color: #e2e2e2;
}

/* Responsive */

@media screen and (max-width: 2560px) {
  .card {
    margin-left: 50px;
  }
  .week-box {
    margin: 40px 0 0 150px;
  }
  .today-card {
    width: 280px;
    height: 280px;
    padding: 10px 0 10px 10px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .main {
    height: 100vh;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    height: 630px;
  }
  .card {
    margin-left: 10px;
  }
  .week-box {
    margin: 40px 0 0 40px;
  }
  .today-card {
    width: 280px;
    height: 280px;
    padding: 10px 0 10px 10px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
  .app {
    display: flex;
    flex-direction: column;
  }
  .main {
    width: 100%;
    justify-content: center;
  }
  .card {
    margin-left: 30px;
  }
  .today-card {
    width: 280px;
    height: 280px;
  }
}

@media screen and (max-width: 768px) {
  .week-box {
    margin: 40px 0 0 50px;
  }
  .card {
    margin-left: 5px;
  }
  .today-card {
    width: 250px;
    height: 280px;
  }
}

@media screen and (max-width: 575px) {
  .main {
    width: 100%;
    justify-content: center;
  }
  .week-box {
    margin: 40px 0 0 20px;
  }
  .card {
    margin-left: 5px;
  }
  .today-card {
    width: 250px;
    height: 280px;
    padding: 10px 0 10px 10px;
    margin-left: 10px;
  }
  .week-card {
    flex-direction: column;
  }
  .today-cards {
    flex-direction: column;
  }
}

/* боковая панель */

.main {
  background-color: #fff;
  display: flex;

  box-shadow: 3px 0px 31px 8px rgba(34, 60, 80, 0.2);
}

.main-container {
  margin: 40px 20px;
}

.main-input {
  background: url("../assets/search.png") no-repeat 4px 3px;
  background-color: #e2e2e2;
  width: 100%;
  padding: 0 30px;
  height: 23px;
  border-radius: 10px;
  border: none;
}

.ex-img {
  text-align: center;
  align-self: center;
  margin-top: 80px;
}

.ex-img img {
  height: 170px;
  width: 200px;
}

button {
  border-radius: 10px;
  border: 1px solid #000;

  background-color: #fff;

  transition: 0.2s linear;

  cursor: pointer;
}

button:hover {
  background-color: rgb(185, 185, 185);
  color: #fff;
}

.input-button {
  display: inline-flex;
}

/* Temp */
.weather-box {
  margin-top: 70px;
  font-size: 80px;
}

.date {
  margin-top: 30px;

  font-weight: 500;
  font-size: 22px;
}

/* City name  */
.location-text {
  font-size: 40px;
}

/* Week */

.week-card {
  display: inline-flex;
  margin-top: 20px;
}

.card {
  width: 150px;
  height: 180px;
  text-align: center;
  padding: 10px 0;
  margin: 0 0 0 10px;
  box-shadow: 8px 0px 19px 3px rgba(34, 60, 80, 0.2);

  background-color: #fff;
  border-radius: 15px;

  transition: 0.2s linear;
}

.card:hover {
  transform: scale(1.1);
}

.week-box {
  margin: 20px 0 0 15px;
}

/* Today */

.today-stat {
  margin-top: 20px;
}

.today-cards {
  display: inline-flex;
}

.today-card {
  width: 280px;
  height: 280px;
  padding: 10px 0 10px 10px;
  margin: 10px 20px;
  box-shadow: 8px 0px 19px 3px rgba(34, 60, 80, 0.2);

  background-color: #fff;
  border-radius: 15px;

  transition: 0.2s linear;
}

.today-card p {
  color: gray;
}

.today-card:hover {
  transform: scale(1.1);
}

.wind-status {
  margin-top: 80px;
  font-size: 60px;
}

.min {
  margin-top: 30px;
  font-size: 70px;
}

.max {
  margin-top: 20px;
  font-size: 70px;
}

.card-temp a {
  color: gray;
}
